<%= form_tag(flights_path, method: "get") do %>
    <%= label_tag "From:" %>
    <%= select_tag(:departure_id, options_for_select(@flight_options.sort, params[:departure_id])) %><br><br>
    <%= label_tag "To:" %>
    <%= select_tag(:arrival_id, options_for_select(@flight_options.sort, params[:arrival_id])) %><br><br>
    <%= label_tag "Number of passengers:" %>
    <%= select_tag(:num_passengers, options_for_select(@num_options, params[:num_passengers])) %><br><br>
    <%= label_tag "Date:" %>
    <%= select_tag(:date, options_for_select(@flight_time_options.sort, params[:date])) %><br><br><br>
    <%= submit_tag "Search" %>
<% end %>

<% if !params[:departure_id].nil? && @flight_search_results.empty? %>
    <p>No flights match that criteria... apparently.</p>
<% elsif @flight_search_results.empty? %>
    <p> </p>
<% else %>
    <p>Available flight(s):</p>

    <%= form_tag new_booking_path, method: :get do %>
        <%= hidden_field_tag :num_passengers, params[:num_passengers] %>
        <% @flight_search_results.each do |flight| %>
            <%= radio_button_tag(:flight_id, "#{flight.id}", :required => true) %>
            <%= label_tag("flight_id_#{flight.id}", "#{flight.departure_airport.code}") %> to 
            <%= label_tag("flight_id_#{flight.id}", "#{flight.arrival_airport.code}") %> |
            <%= label_tag("flight_id_#{flight.id}", "Departure date: #{flight.searchable_date}") %> |
            <%= label_tag("flight_id_#{flight.id}", "Duration: #{flight.flight_duration} minutes") %> |<br><br>
        <% end %>
        <%= submit_tag "Book this!" %>
    <% end %>
<% end %>